/* default */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.titolo-secondario {
    font-size: 30px;
    margin-top: 60px;
    margin-left: 100px;

}

.paragrafo {
    font-size: 12px;
    margin-top: 20px;
    margin-left: 100px;
}

/* header */
header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 136, 241);

}

.head-container {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.logo-head {
    width: 20%;
    padding-left: 10px;


}

.navigazione-header {
    width: 60%;
    
    
}


.link-head {
    list-style: none;
    display: flex;
    justify-content: center;
    
    
}


li a {
    color: white;
    padding: 15px;
    text-decoration: none;
    
}


.login-head {
    width: 20%;
    padding: 5px;
    text-align: center;
    

}

.login-head button {
    width: 50px;
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 9999px;
}

/* jumbo section */
.jumbo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 400px;

}
  
.jumbo-layout {
    min-height: 300px;
    width: 50%;
    text-align: center;
    color: white;

}
.jumbo-layout h1 {
    font-size: 40px;
    margin-top: 40px;
}

.jumbo-layout p {
    margin: 40px 0;

}

button span {
    font-size: 15px;
    margin-right: 3px;
}

.jumbo-layout button {
    margin: 0 30px;
    border: none;
    padding: 10px;
    border-radius: 9999px;
    font-weight: bold;
}

.browser {
    color: white;
    background-color: black;
}




/* study group section */
.study-section {
    background-color: white;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.img-study {
    width: 40%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.img-study img {
    width: 500px;
    
}

.study-description {
    width: 30%;
    min-height: 400px;

   
}



/* chillin section */
.chillin-section {
    background-color: rgb(228, 221, 221);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.chillin-description {
    width: 30%;
    min-height: 400px;

}

.img-chillin {
    width: 40%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.img-chillin img {
    width: 400px;
}

/* coach section */
.coach-section {
    background-color: white;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .img-coach {
    width: 40%;
    min-height: 400px
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .img-coach img {
    width: 500px;
 }

 .coach-description {
    width: 30%;
    min-height: 400px;

 }

 /* audio video section */
 .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgb(242, 238, 238);

 }

 .video-layout {
    min-height: 550px;
    width: 70%;
    text-align: center;
 }

 .video-img img {
    width: 500px;
 }

 .video-titolo {
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;
 }

 .video-layout :nth-child(2) {
    margin-top: 30px;
 }

 .video-layout :nth-child(4) {
    font-size: 20px;
    margin-bottom: 30px;
    background-image: url(../img/stars.svg);
    background-position: center ;
    background-size: contain;

 }

 .video-layout button {
    margin: 0 30px;
    border: none;
    padding: 10px;
    border-radius: 9999px;
    font-weight: bold;
 }

 /* footer section */

 .footer-part {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: black;
    
 }

 .specifiche-container {
    width: 70%;
    min-height: 400px;
    display: flex;

 }

 .big-section img {
    width: 25px;
    margin-top: 15px;
    margin-right: 5px;
 }

 .lingua {
    font-size: 12px;
    line-height: 100%;
    vertical-align: middle;
 }

 .social {
    width: 30%;
    min-height: 400px;
    /* debug */
    background-color: pink;
    
 }

 .big-section {
    border: 2px dashed black;
 }

 .small-section {
    width:  20%;
    min-height: 400px;
    /* debug */
    background-color:mediumaquamarine;
    border: 2px dashed white;
    

 }

 .prodotto {
    
 }

 .compagnia {
    

 }

 .risorse {
    
 }

 .norme {
    
 }

 /* registrazion */

 .registrazione-contain {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    /* debug */
    background-color: black;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    
 }

 .registrazione {
    min-height: 70px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    background-color: aquamarine; 
 }

 .sign {
    border: 2px dashed white;
    background-color: pink;
 }


 .logo-footer {
    padding: 5px;


 }

 .bottone-footer {
    padding: 5px;
    

 }