/* default */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: aqua;
    
    
    
    
}

.head-container {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* debug */
    background-color: orange;

}

.logo-head {
    width: 50px;

}

.link-head {
    display: flex;
    width: 60%;
    flex-grow: 1;
}

ul li{
    list-style: none;
    padding: 5px;
}

a {
    text-decoration: none;
}

.login-head {
    width: 50px;

}
    

